<a href="https://colab.research.google.com/github/kazirafi71/Simple-ML-Project/blob/master/Decision_tree_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from sklearn import tree

In [ ]:
from google.colab import files
files.upload()

Saving male female.csv to male female.csv

{'male female.csv': b'height,weight,shoe size,gender\r\n181,80,44,male\r\n177,70,43,female\r\n160,60,38,female\r\n154,54,37,female\r\n166,65,40,male\r\n190,90,47,male\r\n175,64,39,male\r\n171,75,42,female\r\n185,85,43,female\r\n169,71,42,male\r\n'}

In [ ]:
df=pd.read_csv("male female.csv")

In [ ]:
df.head()

   height  weight  shoe size  gender
0     181      80         44    male
1     177      70         43  female
2     160      60         38  female
3     154      54         37  female
4     166      65         40    male

In [ ]:
df.isnull().sum()

height       0
weight       0
shoe size    0
gender       0
dtype: int64

In [ ]:
x=df.iloc[:,:-1]
x

   height  weight  shoe size
0     181      80         44
1     177      70         43
2     160      60         38
3     154      54         37
4     166      65         40
5     190      90         47
6     175      64         39
7     171      75         42
8     185      85         43
9     169      71         42

In [ ]:
y=df.iloc[:,3]
y

0      male
1    female
2    female
3    female
4      male
5      male
6      male
7    female
8    female
9      male
Name: gender, dtype: object

In [ ]:
classify=tree.DecisionTreeClassifier()

In [ ]:
classify=classify.fit(x,y)

In [ ]:
classify.predict([[169,71,42]])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  "X does not have valid feature names, but"

array(['male'], dtype=object)